</body>
<footer>
    <div class="footer-container">
        <a href="https://github.com/Mister-Zeng">
            <img src="github-orange-icon.svg" class="footer-icon" alt="Github">
        </a>
        <a href="https://twitter.com/misterzeng">
            <img src="twitter-orange-icon.svg" class="footer-icon" alt="Twitter">
        </a>
        <a href="https://www.linkedin.com/in/misterzeng/">
            <img src="linkedin-orange-icon.svg" class="footer-icon" alt="LinkedIn">
        </a>
        <a href="mailto:officialjasonzeng@gmail.com">
            <img src="email-orange-icon.svg" class="footer-icon" alt="Email">
        </a>
    </div>
    <div class="copyright">
        <p>Developed by Jason Zeng</p>
    </div>
</footer>

</html>