</body>
<footer>
    <div class="footer-container">
        <a href="https://github.com/Mister-Zeng">
            <img src="https://raw.githubusercontent.com/Mister-Zeng/Portfolio-Website/c7abe6f953461bac7017c21b332baf4df251a55e/images/github-orange-icon.svg" class="footer-icon" alt="Github">
        </a>
        <a href="https://twitter.com/misterzeng">
            <img src="https://raw.githubusercontent.com/Mister-Zeng/Portfolio-Website/c7abe6f953461bac7017c21b332baf4df251a55e/images/twitter-orange-icon.svg" class="footer-icon" alt="Twitter">
        </a>
        <a href="https://www.linkedin.com/in/misterzeng/">
            <img src="https://raw.githubusercontent.com/Mister-Zeng/Portfolio-Website/c7abe6f953461bac7017c21b332baf4df251a55e/images/linkedin-orange-icon.svg" class="footer-icon" alt="LinkedIn">
        </a>
        <a href="mailto:officialjasonzeng@gmail.com">
            <img src="https://raw.githubusercontent.com/Mister-Zeng/Portfolio-Website/c7abe6f953461bac7017c21b332baf4df251a55e/images/email-orange-icon.svg" class="footer-icon" alt="Email">
        </a>
    </div>
    <div class="copyright">
        <p>Developed by Jason Zeng</p>
    </div>
</footer>

</html>
